.loadingResetModal .modal-content {
  margin-top: 15rem;
  min-height: 48vh !important;
}
.loadingResetModal .modalContainer__body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.loadingResetModal .modal-header {
  background-color: orange;
}

.loadingResetModal .btn-close {
  border: none;
  width: 40px;
  height: 33px;
  padding: 5px;
  font-size: 10px;
  background-color: orange;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
  color: white !important;
  border-radius: 200px;
  transition: all 0.42s ease-in;
}

.loadingResetModal .btn-close:hover {
  background-color: rgb(241, 162, 15);
}
